<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Create a Show</title>

</head>
<body data-bs-theme="dark">
    <div>
        <div>
            <h1>Howdy, {{logged_user.first_name}}</h1>
        </div>
        <div>
            <a href="/shows"><button>All Shows </button></a>
            <a href="/logout"><button>Log Out</button></a>
        </div>
    </div>
    <br>
    <h2>This show is like by {{this_shows_likes}} people</h2>
    <br>
    <div>
        <h3>{{this_show.title}}</h3>
        <p>Network: {{this_show.network}}</p>
        <p>Release: {{this_show.release_date.strftime("%B")}}, {{this_show.release_date.strftime("%d")}} {{this_show.release_date.strftime("%Y")}}</p>
        <p>Description:</p>
        <p>{{this_show.description}}</p>
        <p>Posted by: {{this_show.creator.first_name}} {{this_show.creator.last_name}}</p>
    </div>
</body>
</html>